/* Navbar styles */
.navbar {
    background-color: #ffffff; /* Warna biru tua */
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    max-width: 150px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 15px;
    font-size: 16px;
}

.nav-link:hover, .nav-link.active {
    color: #070445; 
}

.nav-item-dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #11110e;
    top: 100%;
    left: 0;
    padding: 10px;
    list-style: none;
    margin: 0;
}

.nav-item-dropdown:hover .dropdown-menu {
    display: block;
}

.hamburger {
    display: none; /* Sembunyikan hamburger di layar besar */
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hamburger .bar {
    height: 4px;
    background-color: #070445;
    width: 100%;
}

.nav-menu.active {
    display: block;
}

.nav-menu {
    display: flex;
}

@media (max-width: 768px) {
    /* Tampilkan tombol hamburger di layar kecil */
    .hamburger {
        display: flex;
    }

    .nav-menu {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #E8AA42;;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-list {
        display: block;
        text-align: center;
    }

    .nav-link {
        margin: 10px 0;
        font-size: 18px;
    }

    .dropdown-menu {
        position: relative;
        background-color: transparent;
        top: 0;
        left: 0;
    }
}
